.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

/* Light Mode Styles (Default) */
.App.light {
  background-color: #ffffff;
  color: #333333;
  transition: background-color 0.5s, color 0.5s;
}

/* Dark Mode Styles */
.App.dark {
  background-color: #333333;
  color: #ffffff;
  transition: background-color 0.5s, color 0.5s;
}

.header {
  padding: 20px 0;
  display: flex;           /* Enables flexbox */
  flex-direction: column;  /* Stacks content vertically */
  align-items: center;     /* Centers content horizontally */
}

.header nav {
  align-self: flex-end;    /* Aligns the nav to the right */
  margin-right: 20px;      /* Optional: adds some spacing to the right */
}

.content {
  padding: 50px 0;
}

.contact {
  padding: 50px 0;
  /* background-color: #f7f7f7; */
}

nav {
  margin: 20px 0;
  align-items: center;
}

nav a {
  color: black;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

